{% extends "base.html" %}
{% load i18n %}
{% load json_context %}
{% load js_reverse %}
{% load static %}
{% load vite_manifest %}

{% block title %}
    {% include "content/_edit_title.html" %}
{% endblock %}

{% block content %}
    <div id="svelte-app">
        <!-- Svelte components will be mounted here -->
    </div>

    <br/>
    <p>
        {% trans "Tip! Share pages easily by bookmarking our" %} <a href='javascript:{{ bookmarklet }}'>{% trans "bookmarklet" %}</a>.
    </p>
{% endblock %}

{% block javascript %}
    {% json_context %}
    {{ block.super }}
    {{ form.media }}
    <script type="text/javascript" charset="utf-8">{% js_reverse_inline %}</script>

    <!-- Load from manifest with cache busting -->
    {% vite_asset 'main' 'js' %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% vite_asset 'main' 'css' %}
{% endblock %}
